<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프론트엔드챌린지</title>
    <link rel="stylesheet" href="../css/memo.css">
</head>
<body>
    <div class="container">
    <header>
        <a href="../index.html">
        <h1 class="title">Blog</h1>
        </a>
        <h4>프론트엔드챌린지를 위한 블로그.</h4>
    </header>

<div class="memo-container">
    <span class="numbering">1</span>
    <h1 class="post-title">Test</h1>
    <div class="createdate">
        <span>2024-01-14</span>
</div>
    <h6 class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero optio officia dignissimos cum aperiam voluptatem enim ipsa unde! Iure iusto ipsum ipsam adipisci cumque repudiandae tempore! Eius, voluptatem rerum.</h6>

</body>
</html>