<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프론트엔드챌린지</title>
    <link rel="stylesheet" href="../css/note.css">
</head>
<body>
    <div class="container">
    <header>
        <a href="../index.html">
        <h1 class="title">Blog</h1>
        </a>
        <h4>프론트엔드챌린지를 위한 블로그.</h4>
    </header>
    
    <div class="slogan">BEAR-U Web Development Bootcamp Project</div>

    <div class="user-input-container">
        <div class="user-input">
            <span>제목</span>
            <input type="text" placeholder="제목" class="post-title" name="post-title">
        </div>
        <div class="user-input">
            <span>내용</span>
            <textarea placeholder="내용을 입력해주세요." class="post-content" name="post-content"></textarea>
        </div>
        <div class="button-wrapper">
            <a href="../index.html">
                <button class="cancel-btn">취소하기</button>
            </a>
            <a href="#">
            <button class="create-btn">생성하기</button>
            </a>
        </div>

    </div>
    <script src="../js/note.js"></script>
</body>
</html>